.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  background-color: var(--accent-color);
  border-radius: 8px;
  color: #000;
  display: flex;
  max-width: 940px;
}

.project__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.project__title {
  font-size: 2rem;
  font-weight: 600;
}

.project__description {
  font-size: 1.2rem;
  max-width: 80ch;
  width: 100%;
}

.project__image {
  border-radius: 8px 0 0 8px;
  object-fit: cover;
  width: 100%;
}

.project__links {
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  margin-top: auto;
}

.project__demo,
.project__repo {
  align-content: center;
  border-radius: 12px;
  height: fit-content;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.project__demo {
  background-color: var(--bg-color);
  color: #fff;
}

.project__repo {
  outline: 1px solid gray;
}

@media screen and (max-width: 768px) {
  .project {
    flex-direction: column;
  }
}
